* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  height: 600px;
  background: url('./images/bg-pattern-intro-mobile.svg'), linear-gradient(135deg, #FF8F71 0%, #FF3E55 100%);
  background-size: auto;
  background-position: center;
  border-radius: 0px 0px 0px 100px;
}

/* INICIO DE ESTILIZAÇÃO DO BUTTON */

button {
  width: 137px;
  height: 48px;
  border-radius: 28px;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  font-family: 'Ubuntu';
  font-style: normal;
}

/* FINAL DE ESTIZILAÇÃO DO BUTTON */

/* INICIO ESTILIZAÇÃO NAV */

header nav {
  display: flex;
  justify-content: space-around;
  padding-top: 60px;
}

header nav div {
  display: flex;
  gap: 60px;
}

.list-itens {
  list-style: none;
  display: flex;
  gap: 32px;
  align-items: center;
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  color: #FFFFFF;
}

.list-itens > li {
  display: flex;
  gap: 8px;
}

.list-itens > li > img {
  width: 10px;
  height: 5px;
  align-self: center;
}

.initial-none {
  display: none;
  list-style: none;
  margin-top: 30px;
  position: absolute;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  background: #FFFFFF;
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.243444);
  border-radius: 5px;
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 33px;
  color: #2D2E40;
  width: 168px;
}

#button-signUp {
  background-color: #FFFFFF;
  border: 1px solid #FFFFFF;
  color: #FF505C;
}

/* FINAL ESTILIZAÇÃO NAV */

/* INICIO ESTILIZAÇÃO SECTION-HEADER */

.section-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 123px;
}

.section-header h1 {
  font-family: 'Overpass SemiBold';
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 98px;
  text-align: center;
  letter-spacing: -1.92px;
  color: #FFFFFF;
}

.section-header p {
  font-family: 'Overpass Light';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 31px;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 40px;
}

.div-buttons {
  display: flex;
  gap: 16px;
}

#button-start-for-free {
  border: 1px solid #FFFFFF;
  color: #FF505C;
  background-color: #FFFFFF;
}

#button-learn-more {
  border: 1px solid #FFFFFF;
  background-color: #FF505C;
  color: #FFFFFF;
}

/* FINAL ESTILIZAÇÃO SECTION-HEADER */

/* INICIO ESTILIZAÇÃO DIV-DESIGNED-FOR-THE-FUTURE */

.div-designed-for-the-future {
  padding-top: 70px;
  overflow: hidden;
  height: 882px;
  background-image: url('./images/illustration-editor-desktop.svg');
  background-repeat: no-repeat;
  background-position-x: 650px;
}

.div-designed-for-the-future > h1 {
  font-family: 'Overpass SemiBold';
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 61px;
  text-align: center;
  letter-spacing: -1.2px;
  color: #1F3E5A;
}

.section-info > div{
  margin-top: 100px;
  width: 450px ;
  margin-left: 100px;
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.section-info h1 {
  font-family: 'Overpass SemiBold';
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 28px;
  color: #1F3E5A;
  margin-bottom: 16px;
}

.section-info p {
  font-family: 'Overpass Light';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.5px;
  color: #4C5862;
}

/* FINAL ESTILIZAÇÃO DIV-DESIGNED-FOR-THE-FUTURE */

/* INICIO ESTILIZAÇÃO SECTION-CELULAR */

.section-celular {
  overflow: hidden;
  margin-top: 50px;
  height: 350px;
  background: linear-gradient(135deg, #2D2E40 0%, #3F4164 100%);
  border-radius: 0px 100px;display: flex;
  display: flex;
}

.section-celular > img {
  position: relative;
  height: 750px;
  bottom: 350px;
}

.section-celular > div {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 100px;
  padding: 0 0 0 150px;
  margin-top: -50px;
}

.section-celular > div > img {
  width: 450px;
  height: 470px;
}

.section-celular > div > div {
  width: 540px;
  height: 178px;
}

.section-celular > div > div > h1 {
  font-family: 'Overpass SemiBold';
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 61px;
  letter-spacing: -1.2px;
  color: #FFFFFF;
}

.section-celular > div > div > p {
  font-family: 'Overpass Light';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.5px;
  color: #FFFFFF;
}

/* FINAL ESTILIZAÇÃO SECTION-CELULAR */

/* INICIO ESTILIZAÇÃO SECTION-LAPTOP */

.section-laptop {
  margin-top: 100px;
  overflow: hidden;
  height: 786px;
  background-image: url('./images/illustration-laptop-desktop.svg');
  background-repeat: no-repeat;
  background-position-x: -250px;
  display: flex;
  justify-content: flex-end;
  margin-right: 100px;
}

.section-laptop > div {
  width: 500px;
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  gap: 65px;
}

.section-laptop > div h1 {
  font-family: 'Overpass SemiBold';
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 28px;
  color: #1F3E5A;
  margin-bottom: 16px;
}

.section-laptop > div p {
  font-family: 'Overpass Light';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.5px;
  color: #4C5862;
}

/* FINAL ESTILIZAÇÃO SECTION-LAPTOP */

/* INICIO ESTILIZAÇÃO SECTION-FOOTER */

.section-footer {
  margin-top: 100px;
  height: 359px;
  background: #24242C;
  border-radius: 0px 100px 0px 0px;
}

.section-footer > div {
  display: flex;
  gap: 220px;
  justify-content: center;
  padding-top: 100px;
}

.section-footer > div > img {
  align-self: flex-start;
}

.section-footer > div > ul {
  list-style: none;
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 33px;
  color: #FFFFFF;
}

.list-footer > li:first-child {
  margin-top: 20px;
}

.list-footer > li{
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 33px;
  color: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.75;
}

/* FINAL ESTILIZAÇÃO SECTION-FOOTER */