* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* main {
  overflow: hidden;
} */

header {
  height: 600px;
  background: url('./images/bg-pattern-intro-mobile.svg'), linear-gradient(135deg, #FF8F71 0%, #FF3E55 100%);
  background-size: auto;
  background-position: center;
  border-radius: 0px 0px 0px 100px;
}

/* INICIO DE ESTILIZAÇÃO DO BUTTON */

button {
  width: 137px;
  height: 48px;
  border-radius: 28px;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
}

/* FINAL DE ESTIZILAÇÃO DO BUTTON */

/* INICIO ESTILIZAÇÃO NAV */

header nav {
  display: flex;
  justify-content: space-around;
  padding-top: 60px;
}

header nav div {
  display: flex;
  gap: 60px;
}

.list-itens {
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  color: #FFFFFF;
  list-style: none;
  display: flex;
  gap: 32px;
  align-items: center;
}

#button-signUp {
  background-color: #FFFFFF;
  border: 1px solid #FFFFFF;
  color: #FF505C;
}

/* FINAL ESTILIZAÇÃO NAV */

/* INICIO ESTILIZAÇÃO SECTION-HEADER */

.section-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 123px;
}

.section-header h1 {
  font-weight: 600;
  font-size: 64px;
  line-height: 98px;
  text-align: center;
  letter-spacing: -1.92px;
  color: #FFFFFF;
}

.section-header p {
  font-weight: 400;
  font-size: 20px;
  line-height: 31px;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 40px;
}

.div-buttons {
  display: flex;
  gap: 16px;
}

#button-start-for-free {
  border: 1px solid #FFFFFF;
  color: #FF505C;
  background-color: #FFFFFF;
}

#button-learn-more {
  border: 1px solid #FFFFFF;
  background-color: #FF505C;
  color: #FFFFFF;
}

/* FINAL ESTILIZAÇÃO SECTION-HEADER */

/* INICIO ESTILIZAÇÃO DIV-DESIGNED-FOR-THE-FUTURE */

.div-designed-for-the-future {
  padding-top: 70px;
  overflow: hidden;
  height: 882px;
  background-image: url('./images/illustration-editor-desktop.svg');
  background-repeat: no-repeat;
  background-position-x: 650px;
}

.div-designed-for-the-future > h1 {
  font-family: 'Overpass SemiBold';
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 61px;
  text-align: center;
  letter-spacing: -1.2px;
  color: #1F3E5A;
}

.section-info > div{
  margin-top: 100px;
  width: 450px ;
  margin-left: 100px;
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.section-info h1 {
  font-family: 'Overpass SemiBold';
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 28px;
  color: #1F3E5A;
  margin-bottom: 16px;
}

.section-info p {
  font-family: 'Overpass Light';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.5px;
  color: #4C5862;
}

/* FINAL ESTILIZAÇÃO DIV-DESIGNED-FOR-THE-FUTURE */

